* {
    margin: 0;
    padding: 0;
    background-color: #F5F5DC;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.login-form-container h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4B2E1E;
    font-size: 28px;
    margin-bottom: 25px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D2B48C;
    padding: 10px 10px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.form-row label {
    width: 120px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 18px;
    color: #4B2E1E;
    text-align: right;
    margin-right: 20px;
    background-color: #D2B48C;
}

.form-row input {
    flex: 1;
    padding: 8px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #FFF8DC;
}

.login-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4B2E1E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #D2B48C;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* center the links */
    gap: 50px;
    /* spacing between links */
    height: 50px;
    align-items: center;
    padding-left: 30px;
    /* vertically center links */
}

nav a {
    text-decoration: none;
    color: #4B2E1E;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: semi-bold;
    /* style your links */
}

.navbar-container {
    background-color: #f2f2f2;
    font-size: 30px;
    height: 50px;
    width: 100%;
    /* make it full width */
}

.navbar-logo {
    height: 150px;
}

.logo-wrapper {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}