* {
    margin: 0;
    padding: 0;
}

.signup-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px 10px;
    padding: 10px 10px;
    gap: 20px;
}

.signup-container h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4B2E1E
}

.signup-form div {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}

.signup-form label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 18px;
    color: #4B2E1E;
    font-size: 18px;
    text-align: center;
    margin-right: 20px;
    width: 150px;
}