* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* center the links */
    gap: 50px;
    /* spacing between links */
    height: 50px;
    align-items: center;
    padding-left: 30px;
    /* vertically center links */
}

nav a {
    text-decoration: none;
    color: #4B2E1E;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: semi-bold;
    /* style your links */
}

.navbar-container {
    background-color: #f2f2f2;
    font-size: 30px;
    height: 50px;
    width: 100%;
    /* make it full width */
}

.navbar-logo {
    height: 150px;
}

.logo-wrapper {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.hero {
    background-color: #FFF5E1;
    padding: 60px 20px;
    text-align: center;
    color: #4B2E1E;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

.hero-content p {
    font-size: 24px;
    margin-bottom: 30px;
}

.hero-content .btn {
    text-decoration: none;
    background-color: #4B2E1E;
    color: #FFF5E1;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 20%;
}

.hero-content .btn:hover {
    background-color: #3A2315;
}