* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* center the links */
    gap: 50px;
    /* spacing between links */
    height: 50px;
    align-items: center;
    padding-left: 30px;
    /* vertically center links */
}

nav a {
    text-decoration: none;
    color: #4B2E1E;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: semi-bold;
    /* style your links */
}

.navbar-container {
    background-color: #f2f2f2;
    font-size: 30px;
    height: 50px;
    width: 100%;
    /* make it full width */
}

.navbar-logo {
    height: 150px;
}

.logo-wrapper {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}